* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #eeeeee;
}

header {
  background-color: #034370;
  padding: 4px;
  padding-top: 6px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
header img {
  width: 25vw;
}

.error, .error1, .error2 {
  font-size: 12px;
  font-weight: 500;
  margin-left: 0.5em;
  color: red;
}

.event-img {
  background: url("../res/linux.png");
}

/* 64ac15 */
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Poppins";
  font-size: 15px;
  color: #b9b9b9;
  background-color: #e3e3e3;
}

h4 {
  color: #034370;
  margin-bottom: 0.2em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.name {
  margin-top: 0.5em;
}

select.domain {
  margin: 0;
  width: 100%;
}

button {
  color: #fff;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 14px;
  background: #0366ac;
  transition-duration: 0.4s;
  width: 100%;
  padding: 1em;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

button:hover {
  background: #034370;
}

input,
input[type=radio] + label,
input[type=checkbox] + label:before,
select option,
select {
  width: 100%;
  padding: 1em;
  line-height: 1.4;
  background-color: #f9f9f9;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

input:focus {
  outline: 0;
  border-color: #0366ac;
}

input:focus + .input-icon i {
  color: #f0a500;
}

input:focus + .input-icon:after {
  border-right-color: #f0a500;
}

input[type=radio] {
  display: none;
}

input[type=radio] + label,
select {
  display: inline-block;
  width: 50%;
  text-align: center;
  float: left;
  border-radius: 0;
}

input[type=radio] + label:first-of-type {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

input[type=radio] + label:last-of-type {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

input[type=radio] + label i {
  padding-right: 0.4em;
}

input[type=radio]:checked + label,
input:checked + label:before,
select:focus,
select:active {
  background-color: #0366ac;
  color: #fff;
  border-color: #034370;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label {
  position: relative;
  display: block;
  padding-left: 1.6em;
}

input[type=checkbox] + label:before {
  position: absolute;
  top: 0.2em;
  left: 0;
  display: block;
  width: 1em;
  height: 1em;
  padding: 0;
  content: "";
}

input[type=checkbox] + label:after {
  position: absolute;
  top: 0.45em;
  left: 0.2em;
  font-size: 0.8em;
  color: #fff;
  opacity: 0;
  font-family: FontAwesome;
  content: "\f00c";
}

input:checked + label:after {
  opacity: 1;
}

select {
  height: 3.4em;
  line-height: 2;
}

select:first-of-type {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

select:last-of-type {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

select:focus,
select:active {
  outline: 0;
}

select option {
  background-color: #fff;
  color: black;
}

.input-group {
  margin-bottom: 1em;
  zoom: 1;
}

.input-group:before,
.input-group:after {
  content: "";
  display: table;
}

.input-group:after {
  clear: both;
}

.input-group-icon {
  position: relative;
}

.input-group-icon input {
  padding-left: 4.4em;
}

.input-group-icon .input-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 3.4em;
  height: 3.4em;
  line-height: 3.4em;
  text-align: center;
  pointer-events: none;
}

.input-group-icon .input-icon:after {
  position: absolute;
  top: 0.6em;
  bottom: 0.6em;
  left: 3.4em;
  display: block;
  border-right: 1px solid #e5e5e5;
  content: "";
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.input-group-icon .input-icon i {
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.hero-container {
  display: flex;
  align-items: center;
  font-weight: 700;
  height: auto;
  max-width: 38em;
  background-color: #fff;
  border-radius: 4.2px;
  box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
}
.hero-container div.details {
  display: flex;
  align-items: center;
}
.hero-container div.location {
  display: flex;
  align-items: center;
}
.hero-container div.location .loc-icon i {
  color: #b2c2ce;
  font-size: 12px;
}
.hero-container div.location p {
  color: rgb(66, 66, 66);
  margin-left: 0.5em;
  margin-top: 0.3em;
  font-weight: 100;
  font-size: 9px;
}
.hero-container div.time {
  margin-left: 1em;
  display: flex;
  align-items: center;
}
.hero-container div.time .time-icon i {
  color: #a0aeb8;
  font-size: 12px;
}
.hero-container div.time p {
  color: rgb(66, 66, 66);
  margin-left: 0.5em;
  margin-top: 0.3em;
  font-weight: 100;
  font-size: 9px;
}
.hero-container p {
  color: black;
}
.hero-container img {
  width: 25%;
  height: 7.5rem;
  border-radius: 4.2px 0 0 4.2px;
}
.hero-container div.event-banner {
  margin-left: 1em;
}
.hero-container div.event-banner p.event {
  font-size: 12px;
}
.hero-container div.divider {
  background: black;
  width: 1px;
  height: 4rem;
}
.hero-container div.event-dates {
  text-align: center;
}
.hero-container div.event-dates p.event-date {
  margin-top: -0.3em;
  font-weight: 500;
}
.hero-container div.event-dates p.event-month {
  margin-top: -1.4em;
  font-size: 0.7em;
}
.hero-container div.right-blue {
  background: #034370;
  width: 2.5px;
  height: 7.5rem;
  margin-right: 0;
  margin-left: auto;
  border-radius: 0 4.2px 4.2px 0;
}

.container {
  max-width: 38em;
  padding: 1em 1.5em 2em 1.5em;
  background-color: #fff;
  border-radius: 4.2px;
  box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
}

.row {
  zoom: 1;
}

.row:before,
.row:after {
  content: "";
  display: table;
}

.row:after {
  clear: both;
}

.col-half {
  padding-right: 10px;
  float: left;
  width: 50%;
}

.col-half:last-of-type {
  padding-right: 0;
}

.col-third {
  padding-right: 10px;
  float: left;
  width: 33.33333333%;
}

.col-third:last-of-type {
  padding-right: 0;
}

@media only screen and (max-width: 540px) {
  .col-half {
    width: 100%;
    padding-right: 0;
  }
}
@media only screen and (min-width: 700px) {
  .event-dates {
    margin-right: -3em;
    margin-left: auto;
  }
  .event-date {
    font-size: 49px;
  }
  .event-title {
    font-size: 20px;
  }
  .divider {
    margin-right: -3rem;
    margin-left: auto;
  }
  .hero-container {
    margin: 1em auto;
  }
  .container {
    margin: 1em auto;
  }
}
@media only screen and (min-width: 430px) {
  .event-title {
    font-size: 20px;
  }
  .logo {
    max-width: 10%;
  }
}
@media only screen and (max-width: 700px) {
  .event-dates {
    margin-right: -0.6em;
    margin-left: auto;
  }
  .event-date {
    font-size: 9vw;
  }
  .divider {
    margin-right: -0.6rem;
    margin-left: auto;
  }
  .hero-container {
    margin-top: 1em;
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
  .container {
    margin-top: 1em;
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
}
@media only screen and (max-width: 430px) {
  .event-title {
    font-size: 4.5vw;
  }
}/*# sourceMappingURL=main.css.map */